<template name="backgroundImage">


      <!-- <img src="https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVZ19adXg3LWV3cWM" alt="" > -->
    <div id="bg">
        <!-- <img id="bgImg" src="/bg_3.png" alt=""> -->

      <!-- <img src="https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVZ19adXg3LWV3cWM" alt="" > -->

      <!-- <img src="https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVN3lFenBheGJxYVE" alt="" > -->

      <!-- <img src="https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVSlRjcEVuanJxR3c" alt="" > -->
        <!-- <img id="bgImg" src="/https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVZ19adXg3LWV3cWM" alt=""> -->
    </div>

</template>