<template name="shareButtons">

  <div class="container">
    <div class="shareButtonsDiv pull-right">

      <!-- Tweet button -->
      <a class="btn btn-info btn-sm" href="{{twitterRequest}}"
      onclick="javascript:window.open(this.href,'_blank', '{{commonProperty}}');return false;">T</a>


      <!-- Facebook button -->
      <a class="btn btn-primary btn-sm" href="{{facebookRequest}}"
      onclick="javascript:window.open(this.href,'_blank', '{{commonProperty}}');return false;">F</a>


<!-- 
<div class="fb-share-button" data-href="http://weatherreport.kr/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fweatherreport.kr%2F&amp;src=sdkpreparse">Share</a></div>
 -->


      <!-- Google+ button -->
      <a class="btn btn-danger btn-sm" href="{{googlePlusRequest}}"
      onclick="javascript:window.open(this.href,'_blank', '{{commonProperty}}');return false;">G</a>

    </div>
  </div>
</template>