<template name="footer_col_2">

    <p style="text-align:center">

weather report is artist-run-internet radio project initiated by
<a href="https://teum11.wordpress.com/" target="blank">Jiyeon Kim</a> and
<a href="http://iiiigiy.tumblr.com/" target="blank">Gangil Yi</a> exploring live audio streaming. <br />
Every sunday, starts with live streaming and repeat lasts for 24 hours.
<a target="blank" href="http://www.weatherreport.kr:8000/weatherreport.mp3">direct link</a>
weatherreport.live@gmail.com

<!--
    방송은 매주 일요일 24시간동안 진행됩니다. <Br>
    한시간 동안의 라이브 스트리밍, 이어 남은 하루 동안 반복 재생됩니다.<br />
    <a href="http://jjwc.cafe24.com:8000/weatherreport.ogg">바로듣기 링크 direct link</a>
 -->
    </p>

</template>
