<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid height-full">
      <div class="navbar-header">
        {{#unless isItCordova}}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {{/unless}}
        <audio id="audio">
        <!-- <audio id="audio" crossOrigin="anonymous"> -->
          <!-- get stream source url from db reactively -->
          {{getStreamSrc}}
          <source id="audioSource" src="" type="audio/mpeg" />
          <!-- <source id="audioSource" src="http://jjwc.cafe24.com:8000/puredata" type="audio/mpeg" /> -->
        </audio>

        <!-- {{isPlaying}} -->

        <!-- a tag is fake to make finger pointer -->

        {{#if getStreamReady}}
          <a href=""><img id="playbutton" src="/images/big_play.jpg" height="55" width="50"></a>
        {{else}}
          <a href=""><img id="playbutton" src="/images/big_play_gray.png" height="55" width="50"></a>
        {{/if}}
        <!-- <a href=""><img class="pausebutton" src="/images/big_pause.jpg" height="70" width="70"></a> -->

        <canvas class="Absolute-Center" id="my-canvas" width="200" height="50"></canvas>
      </div>

      <!-- {{#if isItCordova}} -->
        {{#if playbuttonClicked}}
          {{#if audioIsLoading}}
            {{>spinner}}
          {{else}}
            <!-- {{>playingAnimation}} -->
          {{/if}}
        {{/if}}
      <!-- {{/if}} -->

      <!-- {{>audioMeter}} -->



      <!-- <div class="buffered">
        <span id="buffered-amount"></span>
      </div>
      <div class="progress">
        <p id="time"></p>
        <span id="progress-amount"></span>
      </div>
 -->

      <!-- {{#unless isItCordova}} -->
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if currentUser}}<li><a href="{{pathFor 'streamingNotice'}}">Live</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'postsList'}}">List</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">Submit</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'settings'}}">Setting</a></li>{{/if}}

         <!--  {{#if currentUser}}<li><a href="{{pathFor 'streamURLSetting'}}">streamSet</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'bgImgURLSetting'}}">bgImgSet</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'recScript'}}">recOnServer</a></li>{{/if}} -->

          <!-- {{#unless getOnNowExist}} -->
          <li><a class="_playbutton" href=""><b>
            {{{getPlaybarNotice}}}
          </b></a></li>

          <!-- <li> {{>playingAnimation}} </li> -->

          <!-- {{/unless}} -->

          <!-- {{autoPlay}} -->
        </ul>
      </div>
      <!-- {{/unless}} -->
    </div>
  </nav>
</template>
