<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid height-full">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <audio id="audio">
          <source id="audioSource" src="" type="audio/mpeg" />
         
        </audio>

        <!-- a tag is fake to make finger pointer -->
        <a href=""><img class="playbutton" src="/images/big_play.jpg" height="55" width="50"></a>
        <a href=""><img class="pausebutton" src="/images/big_pause.jpg" height="70" width="70"></a>
      </div>


      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if currentUser}}<li><a href="{{pathFor 'streamingNotice'}}">Live</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'postsList'}}">List</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">Submit</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'streamURLSetting'}}">streamSet</a></li>{{/if}}
          {{#if currentUser}}<li><a href="{{pathFor 'bgImgURLSetting'}}">bgImgSet</a></li>{{/if}}

          <!-- {{#unless getOnNowExist}} -->
            <li><a class="playbutton" href=""><b>
              {{{getPlaybarNotice}}}
            </b></a></li>
          <!-- {{/unless}} -->
        </ul>

         <!-- <ul class="nav navbar-nav navbar-right">{{> loginButtons}}</ul> -->


      </div>

    </div>
  </nav>
</template>