<template name="loading">
  {{>spinner}}

  {{#if isItCordova}}
    {{#if getNetworkState}}
      {{#unless getServerState}}
        <div class="jumbotron">
          <p>
            Remote server or your internet connection is not running properly now...<br />
            Wait about 10 seconds or try later..
          </p>
        </div>
      {{/unless}}
    {{else}}
      {{startCheckerInterval}}
        <div class="jumbotron">
          <p>Please check your internet connection.</p>
        </div>
    {{/if}}
  {{/if}}


</template>
