<template name="bgImgURLSetting">
  <form class="main form">

    <div class="form-group {{errorClass 'bgImgURL'}}">
      <label class="control-label" for="bgImgURL">Background Image source URL<span id="submitResultBG"></span></label>
      <div class="controls">
          <input name="bgImgURL" id="bgImgURL" type="text" value=""
          placeholder="ex) https://drive.google.com/open?id=1uTKLAxoTbF-RUwBFgLev3Ka8v9t1W5Vq" class="form-control"/>
          <span class="help-block">{{errorMessage 'bgImgURL'}}</span>

      </div>
    </div>

    {{> uploadJquery}}

    <br />

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>