<template name="bgImgURLSetting">
  <form class="main form">

    <div class="form-group {{errorClass 'bgImgURL'}}">
      <label class="control-label" for="bgImgURL">Background Image source URL<span id="submitResult"></span></label>
      <div class="controls">
          <input name="bgImgURL" id="bgImgURL" type="text" value=""
          placeholder="ex) https://drive.google.com/uc?export=view&id=0B5O0D-88dhuVZ19adXg3LWV3cWM" class="form-control"/>
          <span class="help-block">{{errorMessage 'bgImgURL'}}</span>

      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>