<template name="playBarSetting">

  <form class="main form-inline" role="form">

    <div>
      <label class="control-label" for="">Playbar setting</label>
    </div>



    {{> calender }}


    <br />

    <div class="form-group">
      <label class="" for="startTime">Start time:</label>&nbsp;
      <input type="text" class="form-control" id="startTime" placeholder="05:00">
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <div class="form-group">
      <label class="" for="endTime">End time:</label>&nbsp;
      <input type="text" class="form-control" id="endTime" placeholder="07:00">
    </div>

    <br /><br />

    <button type="submit" class="btn btn-primary">SetTime</button>

  </form>

</template>