<template name="streamURLSubmit">
  <form class="main form">

    <div class="form-group {{errorClass 'stremURL'}}">
      <label class="control-label" for="streamURL">streaming URL</label>
      <div class="controls">
          <input name="streamURL" id="streamURL" type="text" value="" placeholder="Set streaming URL" class="form-control"/>
          <span class="help-block">{{errorMessage 'stremURL'}}</span>

      </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>