<template name="strplayer">
  <!-- <audio id="audio" oncanplaythrough="{{strCanBePlaying}}"> -->

<!--   <audio id="audio">
      <source src="{{getStreamURL}}" type="audio/mpeg" />
  </audio>


    <img class="playbutton" border="0" src="/images/tri.png" height="70" width="70" >  
    <img class="pausebutton" border="0" src="/images/pause.png" height="70" width="70"> -->
  

  <!-- <button id="playButton" class="playbutton">Play</button> -->
  <!-- <button class="pausebutton">Pause</button> -->
</template>


