<template name="postButtons">
  <div class="post">
    <div class="post-content">

    <div class="checkBoxes">
          <input type="checkbox" disabled="disabled" id="onNow" unchecked> onNow
          <input type="checkbox" disabled="disabled" id="upNext" unchecked> upNext
          <input type="checkbox" disabled="disabled" id="lastEp" unchecked> lastEp
    </div>
</div>

          
    <div class="categoryButtons">
          <input class="discuss btn btn-default" id="lastEpButton" name="lastEp" type="button" value="lastEp"/>
          <input class="discuss btn btn-default" id="upNextButton" name="upNext" type="button" value="upNext"/>
          <input class="discuss btn btn-default" id="onNowButton" name="onNow" type="button" value="onNow"/>
  </div>

</div>

</template>