<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3>{{title}}</h3>
      <span>Written at {{submitted}}</span>


        <div class="checkBoxes">
          <input type="checkbox" name="onNow" unchecked> onNow
          <input type="checkbox" name="upNext" unchecked> upNext
          <input type="checkbox" name="lastEps" unchecked> lastEps
        </div>

        <div class="categoryButton">
            <input class="onNow" type="button" value="onNow"/>
            <input type="button" value="upNext"/>
            <input type="button" value="lastEps"/>
        </div>



      <br><br>
      <textarea name="text" cols="100" rows="10" style="resize:none" readonly="readonly" class="form-control">{{text}}</textarea>

      <p>
        submitted by {{author}}
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>

    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">edit</a>
  </div>
</template>
