<template name="postButtons">

    <div class="checkBoxes">
          <input type="checkbox" disabled="disabled" id="onNow" unchecked> onNow
          <input type="checkbox" disabled="disabled" id="upNext" unchecked> upNext
          <input type="checkbox" disabled="disabled" id="lastEp" unchecked> lastEp
          </div>
          <br>
          
    <div class="categoryButtons">
          <input id="onNowButton" name="onNow" type="button" value="onNow"/>
          <input id="upNextButton" name="upNext" type="button" value="upNext"/>
          <input id="lastEpButton" name="lastEp" type="button" value="lastEp"/>
    </div>



</template>